@font-face {
  font-family: 'Whitney';
  src: url('../fonts/whitney/Whitney-Book/Whitney-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/whitney/Whitney-Book/Whitney-Book.woff') format('woff'), url('../fonts/whitney/Whitney-Book/Whitney-Book.ttf')  format('truetype'), url('../fonts/whitney/Whitney-Book/Whitney-Book.svg#../fonts/whitney/Whitney-Book/Whitney-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ChronicleDisplay';
  src: url('../fonts/chronicle/ChronicleDisplay-Bold/ChronicleDisplay-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/chronicle/ChronicleDisplay-Bold/ChronicleDisplay-Bold.otf')  format('opentype'),
	     url('../fonts/chronicle/ChronicleDisplay-Bold/ChronicleDisplay-Bold.woff') format('woff'), url('../fonts/chronicle/ChronicleDisplay-Bold/ChronicleDisplay-Bold.ttf')  format('truetype'), url('../fonts/chronicle/ChronicleDisplay-Bold/ChronicleDisplay-Bold.svg#ChronicleDisplay-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('../fonts/Gotham/Gotham-Bold/Gotham-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham/Gotham-Bold/Gotham-Bold.woff') format('woff'), url('../fonts/Gotham/Gotham-Bold/Gotham-Bold.ttf')  format('truetype'), url('../fonts/Gotham/Gotham-Bold/Gotham-Bold.svg#Gotham-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}
