@import '_fonts';


:root {
  --body-font: Whitney, Helvetica, Arial, sans-serif;
  --primary-color: #000;
  --secondary-color: #fff;
}


body {
  font-size: 1em;
  color: var(--primary-color, #000);
  background-color: var(--secondary-color, #fff);
}

@media print {
    body{
        width: 21cm;
        height: 29.7cm;
        margin: 30mm 45mm 30mm 45mm; 
        /* change the margins as you want them to be. */
   } 
}