
.icon-down:before { content: '\e800'; } /* '' */
.icon-github:before { content: '\e801'; } /* '' */
.icon-linkedin:before { content: '\e803'; } /* '' */
.icon-mail:before { content: '\e804'; } /* '' */
.icon-medium:before { content: '\e805'; } /* '' */
.icon-check:before { content: '\e806'; } /* '' */
.icon-codepen:before { content: '\e807'; } /* '' */
.icon-magic:before { content: '\f0d0'; } /* '' */
.icon-folder:before { content: '\f115'; } /* '' */